# Files and directories created by pub/flutter
.dart_tool/
.packages
build/
pubspec.lock

# Dartdoc output
doc/api/

# Env files
.env*

# Generated web artifacts
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Example generated/editor files
example/.dart_tool/
example/build/
example/pubspec.lock
example/.metadata
example/.idea/
example/*.iml
.DS_Store
